#priceContainer {
  padding: 10px;
  padding-bottom: 0;
  position: sticky;
}
.priceDetail {
  color: #636262;
  text-align: left;
  width: 320px;
}

#mainContainer {
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 40px;
  padding: 20px 15px;
  margin-left: 20px;
  margin-right: 60px;
}

.priceTags {
  display: flex;
  justify-content: space-between;
}

.priceTags > p,
.priceTags > h4 {
  color: #3b3b3bd8;
}

#deliveryCharges {
  color: #888;
  margin-right: 5px;
  text-decoration: line-through;
  font-size: 15px;
}

#deliveryFree {
  color: green;
}

.dotted-line {
  border: 0;
  border-top: 1px dashed #999;
}

.totalAmount {
  padding: 0 12px 12px 12px;
}

.checkOutBtn {
  padding: 15px 130px;
  background-color: #f4b624;
  /* fccd5c */
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
}

.checkOutBtn:hover{
  background-color: #fccd5c;
}

.checkOutContainer {
  padding: 10px 10px 10px 10px;
}

.checkoutLink {
  text-decoration: none;
  color: white;
}
